.matrix-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

body[data-theme="light"] .matrix-canvas {
  opacity: 0.9;
}
